<div class="bg-secondary rounded text-white">
  <div class="col-12">
    <h1 class="h4">Your cart:</h1>

    <%= render(cart.line_items) %>

    <ul class="h5">
      <div class="">
        <strong>Total: <%= number_to_currency(cart.total_price) %><br>
      </div>
    </ul>
  </div>
  <%= button_to 'checkout', @cart, {method: :delete,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_window', class: "btn btn-outline-success btn-block"}  %>
</div>
<br>
